.border_plane {
    -fx-background-color: #03071e;
}

.text {
    -fx-fill: white;
    -fx-font-size: 40;
}

.questionButton {
    -fx-background-color: #6a040f;
    -fx-background-radius: 50;
    -fx-border-color: #9d0208;
    -fx-border-width: 5;
    -fx-border-radius: 50;
}

.questionButton:hover {
    -fx-background-color: #d00000;
}

.jokerButton {
    -fx-background-color: #d00000;
    -fx-background-radius: 50;
    -fx-border-color: #e85d04;
    -fx-border-width: 5;
    -fx-border-radius: 50;
}

.jokerButton:hover {
    -fx-background-color: #faa307;
}

.reactionButton .text {
    -fx-font-size: 12;
}

.list-view {
    -fx-background-color: transparent;
}

.list-cell {
    -fx-background-color: transparent;
}

.list-cell .text {
    -fx-font-size: 25;
}

.estimateQuestion {
    -fx-background-color: #6a040f;
    -fx-background-radius: 50;
    -fx-border-color: #9d0208;
    -fx-border-width: 5;
    -fx-border-radius: 50;
}