.anchorPane {
    -fx-background-color: #03071e;
}

.text {
    -fx-fill: white;
    -fx-font-size: 40;
}
.title {
    -fx-fill: white;
}

.button {
    -fx-background-color: #6a040f;
    -fx-background-radius: 50;
    -fx-border-color: #9d0208;
    -fx-border-width: 5;
    -fx-border-radius: 50;
}

.button:hover {
    -fx-background-color: #d00000;
}