@import "ScreenCommonCSS.css";

.border_plane {
    -fx-background-color: -background-color;
}


* :disabled {
    -fx-opacity: 1;
}

.button:disabled {
    -fx-background-color: -joker-disabled-color;
    -fx-border-color: -joker-disabled-border;
}

.button .text {
    -fx-font-size: 30;
}

.list-view {
    -fx-background-radius: 20;
    -fx-border-radius: 15;
    -fx-border-width: 5;
    -fx-border-color: -button-border-color;
    -fx-background-insets: 0.1;
    -fx-background-color: -button-color;
}

.list-cell, .list-cell:focused {
    -fx-border-width: 2;
    -fx-border-color: -button-border-color;
    -fx-background-color: -button-color;
}

.list-cell .text {
    -fx-font-size: 25;
}

.scroll-bar{
    -fx-background-color: -button-color;
}