* {
    -background-color: #03071e;

    -button-color: #508991;
    -button-hover-color: #74B3CE;
    -button-border-color: #004346;

    -correct-color: #90EE90;
    -correct-border-color: #00FF00;

    -incorrect-color: #d00000;
    -incorrect-border-color: #9d0208;

    -joker-color: #D5AC4E;
    -joker-border-color: #e85d04;
    -joker-hover-color: #FB5012;

}